<link rel="stylesheet" href="style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<h2>This is a custom 404 page</h2>

<a href="/">Take me back to the start</a>