
<% if @name.nil? %>

	<h1>Please enter your name</h1>
	<form action="/new_game" method="post">
  What's your name?
  <input id="name_field" name="name"></input>
  <input id="submit_btn" type="submit"></input>
	</form>

<% elsif @name.empty? %>
	<h1>Disaster! You need to enter a name. </h1>
	<a href="/new_game">Click here to go back.</a>

<% else %>
<h1>Hello <%= @name.capitalize %> </h1>
<a href="/registered">Ready? Let's play!</a>

<% end %>
