

<% if @name %>
	<h1>Thanks for registering <%= @name %> </h1>

<% else %>
	<h1>Please enter your name</h1>
	<form action="/registered">
  What's your name?
  <input id="name_field" name="name"></input>
  <input id="submit_btn" type="submit"></input>
	</form>

<% end %>
